<template>
  <div class="game">
    <div class="game__header">
      <router-link to="/">
        <button class="def-button">✖ ОТМЕНА</button>
      </router-link>
      <Modal v-if="showModal" :content="modalContent" :show-modal="showModal" @close="showModal = false"/>
      <Timer :game-settings="gameSettings"/>
    </div>
    <div class="expression-container">
      <h1 class="start-value">
        {{ gameState.startValue }}
      </h1>
      <h1
          v-for="(operator, id) of this.gameState.fullMathExpression.replace(/[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]/g, '')"
      >
        {{ operator }}
        <input
            id={{id}}
            :ref="'input' + id"
            v-model="userHiddenValues[id]"
            autofocus
            class="user-input"
        />
      </h1>
    </div>
    <h1 class="result">
      = {{ gameState.answer }}?
    </h1>
    <GameKeyboard
        @set-focus-on-input="setFocusOnInput"
        @set-value-to-input="setValueToInput"
        @check-answer="checkAnswer"
        @open-modal="showModal = true"
    />
  </div>
</template>

<script>
import Timer from "../primitivies/Timer/Timer";
import GameKeyboard from "../components/GameKeyboard/GameKeyboard";
import {MAX_VALUE_FOR_EXPRESSION, MIN_VALUE_FOR_EXPRESSION} from "../constants";
import Modal from "../primitivies/Modal/Modal";

export default {
  name: 'Game',
  data() {
    return {
      showModal: false,
      roundsCount: 0,
      solvedCount: 0,
      modalContent: '1',
      gameSettings: {},
      userHiddenValues: [],
      activeInput: 0,
      gameState: {
        startValue: 0,
        hiddenValues: [''],
        operators: [],
        fullMathExpression: '',
        userExpression: '',
        answer: '',
        userAnswer: '',
      },
    }
  },
  mounted() {
    this.gameSettings = JSON.parse(localStorage.getItem('gameSettings'));
    this.roundsCount = JSON.parse(localStorage.getItem('roundsCount'));
    this.solvedCount = JSON.parse(localStorage.getItem('solvedCount'));

    if (this.gameSettings.summation) {
      this.gameState.operators.push('+')
    }
    if (this.gameSettings.difference) {
      this.gameState.operators.push('-')
    }
    if (this.gameSettings.multiplication) {
      this.gameState.operators.push('*')
    }
    if (this.gameSettings.division) {
      this.gameState.operators.push('/')
    }
    if (this.gameSettings.exponentiation) {
      this.gameState.operators.push('**')
    }

    this.generateExpression()
  },
  components: {
    Modal,
    GameKeyboard,
    Timer,
  },
  methods: {
    getRandomValue() {
      return Math.floor(Math.random() * (MAX_VALUE_FOR_EXPRESSION - MIN_VALUE_FOR_EXPRESSION)) + MIN_VALUE_FOR_EXPRESSION
    },
    setFocusOnInput(direction) {
      switch (direction) {
        case 'left': {
          if (this.activeInput !== 0) {
            this.activeInput -= 1
          }
          this.$refs['input' + this.activeInput].focus();
          return
        }
        case 'right': {
          if (this.activeInput !== this.gameSettings.difficultyLevel - 1) {
            this.activeInput += 1
          }
          this.$refs['input' + this.activeInput].focus();
          return
        }
      }
    },
    getHint() {
      return 0
    },
    checkAnswer(hint = false) {
      this.roundsCount++
      const parsed = JSON.stringify(this.roundsCount);
      localStorage.setItem('roundsCount', parsed);


      let expression = this.gameState.startValue

      for (let [id, operator] of [...this.gameState.fullMathExpression.replace(/[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]/g, '')].entries()) {
        expression += operator + this.userHiddenValues[id]
      }

      try {
        this.gameState.userAnswer = eval(expression)
      } catch (e) {
        this.modalContent = 'Введите число! ' + e
        this.showModal = true
      }

      if (this.gameState.userAnswer === this.gameState.answer) {
        this.solvedCount++
        const parsed = JSON.stringify(this.solvedCount);
        localStorage.setItem('solvedCount', parsed);
        this.modalContent = 'Верно!'
        this.showModal = true
        console.log(this.solvedCount)
      } else if (hint) {
        this.modalContent = this.gameState.fullMathExpression + ' = ' + this.gameState.answer
        this.showModal = true
      } else {
        this.modalContent = 'Ошибочка!'
        this.showModal = true
      }

      this.generateExpression()


    },
    setValueToInput(value) {
      this.userHiddenValues[this.activeInput] = (this.userHiddenValues[this.activeInput] || '') + value
    },
    generateExpression() {

      console.log(this.roundsCount)

      this.gameState.startValue = this.getRandomValue()
      this.userHiddenValues = []


      let hiddenValues = []

      for (let index = 0; this.gameSettings.difficultyLevel > index; index++) {
        hiddenValues.push(this.getRandomValue())
      }

      this.gameState.hiddenValues = hiddenValues

      let expression = this.gameState.startValue

      for (let hiddenValue of this.gameState.hiddenValues) {
        expression += ' ' + this.gameState.operators[Math.floor(Math.random() * this.gameState.operators.length)] + ' ' + hiddenValue
      }

      this.gameState.fullMathExpression = expression
      this.gameState.answer = eval(this.gameState.fullMathExpression)
    }
  }
}
</script>

<style lang="scss">
.game {
  h1 {
    text-align: center;
  }

  .game__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;

    button {
      color: grey;
    }
  }

  .result {
    color: lightgrey;
  }

  .user-input,
  .user-input:focus {
    height: 3rem;
    width: 4rem;
    border: none;
    border-bottom: 3px solid lightgrey;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    outline: none;
  }

  .user-input:focus {
    border-bottom: 3px solid coral;
  }

  .expression-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .start-value {
      margin: 32px 2rem 0 0;
    }
  }
}
</style>
