<template>
  <div class="settings">
    <div class="settings__intro">
      <h1>
        Привет!
      </h1>
      <p>Добро пожаловать на {{ daysFromStart }} тренировочный день,</p>
      <p>Ваш последний результат - решено {{ solvedCount }} из {{ roundsCount }}.</p>
      <p>Общая точность {{ percentageSolved }}%.</p>
    </div>
    <h3>Настройки</h3>
    <input
        v-model="gameSettings.duration"
        class="slider"
        max="15"
        min="1"
        type="range"
    >
    <p>Длительность {{ gameSettings.duration }} минут</p>
    <input
        v-model="gameSettings.difficultyLevel"
        class="slider"
        max="10"
        min="1"
        type="range"
    >
    <p>Сложность {{ gameSettings.difficultyLevel }}</p>
    <div class="checkbox-container">
      <div class="checkbox-item">
        <input v-model="gameSettings.summation" type="checkbox"/>
        <p>Суммирование</p>
      </div>
      <div class="checkbox-item">
        <input v-model="gameSettings.difference" type="checkbox"/>
        <p>Разность</p>
      </div>
      <div class="checkbox-item">
        <input v-model="gameSettings.multiplication" type="checkbox"/>
        <p>Умножение</p>
      </div>
      <div class="checkbox-item">
        <input v-model="gameSettings.division" type="checkbox"/>
        <p>Деление</p>
      </div>
      <div class="checkbox-item">
        <input v-model="gameSettings.exponentiation" type="checkbox"/>
        <p>Возведение в степень</p>
      </div>
    </div>
    <div class="button-container">
      <button class="def-button" @click="saveSettings(); cleanResults(); $router.push('/game')">
        Play!
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Settings',
  props: {
    percentageSolved: 0,
  },
  data() {
    return {
      gameSettings: {},
      roundsCount: 0,
      solvedCount: 0,
      percentageSolved: 0,
      daysFromStart: 0,
      dayOfStart: 0,
    }
  },
  mounted() {
    if (localStorage.getItem('gameSettings')) {
      this.gameSettings = JSON.parse(localStorage.getItem('gameSettings'));
    }
    if (localStorage.getItem('dayOfStart')) {
      this.dayOfStart = JSON.parse(localStorage.getItem('dayOfStart'));
    } else {
      localStorage.setItem('dayOfStart', JSON.stringify(Date.now()));
    }
    this.daysFromStart = Math.round(Math.abs((this.dayOfStart - Date.now()) / this.dayOfStart)) + 1
    this.roundsCount = JSON.parse(localStorage.getItem('roundsCount'));
    this.solvedCount = JSON.parse(localStorage.getItem('solvedCount'));
    this.percentageSolved = (this.solvedCount / this.roundsCount * 100) || 0
  },
  methods: {
    saveSettings() {
      const parsed = JSON.stringify(this.gameSettings);
      localStorage.setItem('gameSettings', parsed);
    },
    cleanResults() {
      localStorage.setItem('roundsCount', '0');
      localStorage.setItem('solvedCount', '0');
    }
  }
}
</script>

<style lang="scss" scoped>
.settings {
  .settings__intro {
    margin-bottom: 5rem;
  }

  .checkbox-container {
    display: flex;
    flex-direction: column;

    .checkbox-item {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: row;

      input {
        margin: 0 2rem 0 8px;
      }
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-top: 2rem;
  }

  input {
    transform: scale(1.4);
    margin-left: 2rem;
  }
}
</style>
