<template>
  <div class="game-keyboard">
    <div class="game-keyboard__numbers">
      <button
          v-for="number in Array(9).keys()"
          value="number + 1"
          @click="setValueToInput(number + 1)"
      >

        {{ number + 1 }}
      </button>
      <span/>
      <button
          value="0"
          @click="setValueToInput(0)"
      >
        0
      </button>
    </div>
    <div class="game-keyboard__special-symbols">
      <button
          @click="setFocusOnInput('left')"
      >
        &lt
      </button>
      <button
          @click="setFocusOnInput('right')"
      >
        >
      </button>
      <button
          id="show-modal" @click="$emit('check-answer', hint = true)"
      >
        ?
      </button>
      <button
          @click="$emit('check-answer')"
      >
        =
      </button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'GameKeyboard',
  props: {
    modalContent: '',
    fullMathExpression: ''
  },
  data() {
    return {}
  },
  methods: {
    setFocusOnInput(direction) {
      this.$emit('set-focus-on-input', direction)
    },
    setValueToInput(value) {
      this.$emit('set-value-to-input', value)
    },
  }
}
</script>

<style lang="scss">
.game-keyboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .game-keyboard__numbers {
    display: inline-grid;
    justify-items: center;
    grid-template-columns: 34% 34% 34%;
    grid-gap: 2rem;
    justify-self: center;
    max-height: 300px;


    button {
      background-color: coral;
    }
  }

  .game-keyboard__special-symbols {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    button {
      background-color: grey;
      margin: 4px 2rem 2.75rem 0;
    }
  }

  button {
    border: none;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
    cursor: pointer;
  }
}
</style>
