<template>
  <div class="range">
    <input
        v-model="currentValue"
        class="slider"
        max="maxValue"
        min="1"
        type="range"
    >
  </div>
</template>

<script>
export default {
  name: 'Range',
  props: {
    maxValue: 0,
    currentValue: 0,
  }
}
</script>

<style lang="scss" scoped>
.range {

}
</style>
