<template>
  <div class="timer">
    <h2 id="time">00:00</h2>
  </div>
</template>

<script>

export default {
  name: 'Timer',
  data() {
    return {
      gameSettings: {}
    }
  },
  mounted() {
    this.gameSettings = JSON.parse(localStorage.getItem('gameSettings'));
    let fiveMinutes = 10 * this.gameSettings.duration,
        display = document.querySelector('#time');
    this.startTimer(fiveMinutes, display);
  },
  methods: {
    startTimer(duration, display) {
      let timer = duration, minutes, seconds;
      setInterval(() => {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10)

        minutes = minutes < 10 ? "0" + minutes : minutes
        seconds = seconds < 10 ? "0" + seconds : seconds

        display.textContent = minutes + ":" + seconds

        if (--timer < 0) {
          timer = 0
          window.location.href = '/'
        }
      }, 1000);
    }
  }
}
</script>

<style lang="scss" scoped>
.timer {
  height: 48px;
  width: 10rem;
  border: 3px solid lightgrey;
  justify-content: center;
  display: flex;
  align-items: center;
  color: lightgrey;
}
</style>
