<template>
  <div class="app">
    <div class="container">
      <router-view
          :daysFromStart="daysFromStart"
          :gameSettings="gameSettings"
          :percentageSolved="percentageSolved"
          :roundsCount="roundsCount"
          :solvedCount="solvedCount"
      />
    </div>
  </div>
</template>

<!--<div id="nav">
<router-link to="/">Home</router-link> |
<router-link to="/game">game</router-link>
</div>-->

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "App",
  data() {
    return {
      solvedCount: 0,
      roundsCount: 25,
      daysFromStart: 0,
      gameSettings: {
        duration: 3,
        difficultyLevel: 3,
        summation: true,
        difference: true,
        multiplication: false,
        division: false,
        exponentiation: false,
      },
    }
  },
  mounted() {

  },
  methods: {}
});

</script>

<style lang="scss">
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  display: block;

  .container {
    max-width: 30rem;
    width: 100%;
    padding: 5% 2rem;
    margin: auto;
    text-align: left;
  }
}

p, span, a, button {
  font-size: 18px;
  line-height: 1rem;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 28px;
}

h1 {
  font-size: 38px;
}

.def-button {
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}


</style>
